!!!html
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width", 'initial-scale' => 1}
    %title= "notes from other places – #{current_page.data.title || title}"
    = stylesheet_link_tag "screen"
    = javascript_include_tag "vendor/jquery.min", "vendor/jquery.unveil.min", "do-unveil", 'keymaster.min'
    %link{:rel => "alternate", :type => 'application/atom+xml', :title => "Atom feed", :href => "#{site_url}/travel/rss"}
  %body
    #lightbox
    = yield