---
title: recently
---
= partial "/templates/anchor"
.index
  %article
    %p.leader
      future posts
      - get_future_posts_by_publication_date(data.albums).each do | post |
        %p
          %span.copy= post.published.strftime("%B %d")
          %span &rarr; &nbsp;
          %span.copy= "#{post.album} "
          - if data.albums.select {|album| album.name == post.album}.first.image.nil?
            %span.noisy this album has no cover
          %span= post.title 
          - if get_type(post) == "photo"  
            - if post.image.kind_of?(Array)
              %span.subtle.copy= " #{post.image.count} photos"
            - else 
              %span.subtle.copy= " 1 photo"
            .recent
              - if post.image.kind_of?(Array)
                - post.image.each do |image|
                  %img.nozoom{:src => get_thumb(image)}
              - else
                %img.nozoom{:src => get_thumb(post.image)}
          - if get_type(post) == "article"
            %span.subtle.copy= "approximately #{get_content_for(post.content).split(" ").count.round(-2)} words"