---
title: latest
---
- latest = get_latest_from data.albums

= partial "/templates/anchor"
.index
  %section.page.border
    %article
      - if latest.type == "article"
        .constrain-width
          %h1= link_to latest.title, "#{post_url(latest.album, latest.title)}"
          = Tilt['markdown'].new { latest.markdown }.render(scope=self) 
        = partial "/templates/meta", :locals => {:date => latest.date, :album => latest.album}
      - else
        .index-article
          %h1= link_to latest.title, "#{post_url(latest.album, latest.title)}"
          = partial "/templates/image_with_meta", :locals => {:image => latest.image, :date => latest.date, :album => latest.album}
  %article
    %p.leader
      %a{:href => "/travel/recent.html"}recently
      .toc
        - get_posts_by_publication_date(data.albums)[0...10].each do | post |
          %p
            %span.copy= post.published.strftime("%B %d")
            %span &rarr; &nbsp;
            %a{:href => "#{post_url(post.album, post.title)}"}
              %span>= post.title
              %span.subtle.copy= " #{get_type(post)}"
  %article
    %p.leader
      elsewhere
    .more-from
      - data.albums.each do |album|
        - next if album.name == latest.album
        - next if album['posts'].nil?
        - next if posts_in_the_past(album).empty?
        .thumb
          %a{:href => "#{album_url(album.name)}"}
            = partial "/templates/image_only_no_zoom", :locals => {:image => album.image}
            %p.cover-title= album.name
= partial "/templates/footer"
%script{:src => "/travel/javascripts/image-zoom.js"}