.anchor
  - unless defined? sub
    %span= link_to "travel", "/travel"
  - if defined? sub
    %span= link_to "travel", "/travel"
    %span -
    %span= link_to "#{sub}", "#{suburl}"
  %span.subscribe= link_to "subscribe", "/travel/subscribe.html"  
  