= partial "/templates/anchor"

.cover
  %section.page
    %article
      .index-article
        = partial "/templates/image_only_no_zoom", :locals => {:image => album.image}
        
    %h1= album.name
    .toc
      - posts.reverse.each_with_index do | post, index |
        %p
          %span.copy= post.published.strftime("%B %d, %Y")
          %span &rarr; &nbsp;
          - title = post.title unless post.title.nil?
          - title ||= get_title(post.image)
          %a{:href => "#{post_url(album.name, title)}"}
            %span>= title
            %span.subtle.copy= " #{get_type(post)}"

%a#prev.hide{:href => "/travel"}
- unless posts.empty?
  - title = posts.last.title unless posts.last.title.nil?
  - title ||= get_title(posts.last.image)
  %a#next.hide{:href => "#{post_url(album.name, title)}"}

= partial "/templates/footer"
%script{:src => "/travel/javascripts/keyboard-navigation.js"}