= partial "/templates/anchor"

.cover
  %section.page
    %article
      .index-article
        = partial "/templates/image_only_no_zoom", :locals => {:image => album.image, :title => album.name}
        
    %h1= album.name
    .toc
      - posts.reverse.each_with_index do | post, index |
        %p
          %span.copy= post.published.strftime("%B %d, %Y")
          %span &rarr; &nbsp;
          %a{:href => "#{post.url}"}
            %span>= post.title
            %span.subtle.copy= " #{post.type}"

%a#prev.hide{:href => "/travel"}
- unless posts.empty?
  %a#next.hide{:href => "#{posts.last.url}"}

= partial "/templates/footer"
%script{:src => "/travel/javascripts/keyboard-navigation.js"}