= partial "/templates/anchor"

.cover
  %section.page
    %article
      .index-article
        = partial "/templates/image_only_no_zoom", :locals => {:thumb => album.thumb, :large => album.large, :retina => album.retina}
        
    %h1= album.name
    .toc
      - posts.reverse.each_with_index do | post, index |
        %p
          %span.copy= post.published.strftime("%B %d, %Y")
          %span &rarr; &nbsp;
          %a{:href => "#{post_url(album.name, post.title)}"}
            %span>= post.title
            %span.subtle.copy= " #{post.type}"

%a#prev.hide{:href => "/travel"}
%a#next.hide{:href => "#{post_url(album.name, posts.last.title)}"}

= partial "/templates/footer"
%script{:src => "/travel/javascripts/keyboard-navigation.js"}