= partial "/templates/anchor", :locals => {:sub => album, :suburl => album_url(album)}

.wide-container
  %section.page
    %article
      .portrait-photo
        %header
          %h1= post.title.titleize
        - post.thumb.each_with_index do |thumb, index|
          %p.is-centered
            = partial "/templates/image_only", :locals => {:thumb => thumb, :large => post.large[index], :retina => post.retina[index]}
        = partial "/templates/meta", :locals => {:date => post.date, :album => album}

= partial "/templates/footer"
= partial "/templates/navigation", :locals => {:posts => posts, :post => post, :album => album}
#bottom-pages
  = partial "/templates/navigation", :locals => {:posts => posts, :post => post, :album => album}

%script{:src => "/travel/javascripts/image-zoom.js"}
%script{:src => "/travel/javascripts/keyboard-navigation.js"}