= partial "/templates/anchor", :locals => {:sub => album.name, :suburl => album.url}

.index
  %section.page
    %article
      %header
        %h1= title.titleize
      - if post.type == "photos"
        - post.image.each_with_index do |image, index|
          %p.is-centered
            = partial "/templates/image_only", :locals => {:thumb => post.thumbs[index], :large => post.large_images[index], :retina => post.retina_images[index]}
      - else
        %p.is-centered
          - if post.hover_thumb
            = partial "/templates/image_only_with_hover", :locals => {:thumb => post.thumb, :large => post.large, :retina => post.retina, :hover_thumb => post.hover_thumb, :hover_large => post.hover_large, :hover_retina => post.hover_retina}
          - else
            = partial "/templates/image_only", :locals => {:thumb => post.thumb, :large => post.large, :retina => post.retina}
      = partial "/templates/meta_no_where", :locals => {:image => post.image, :date => post.date, :album => album}
  #disqus_thread
  %article
    %p.leader
      = link_to " also from #{album.name}", album.url
      .toc
        - posts.reverse.each do | recent_post |
          - next if post.title == recent_post.title
          %p
            %span.copy= recent_post.published.strftime("%B %d")
            %span &rarr; &nbsp;
            %a{:href => "#{recent_post.url}"}
              %span>= recent_post.title
              %span.subtle.copy= " #{recent_post.type}"
= partial "/templates/footer"
= partial "/templates/navigation", :locals => {:posts => all, :post => post, :album => album}
#bottom-pages
  = partial "/templates/navigation", :locals => {:posts => all, :post => post, :album => album}

%script{:src => "/travel/javascripts/image-zoom.js"}
%script{:src => "/travel/javascripts/keyboard-navigation.js"}
%script{:src => "/travel/javascripts/disqus.js"}